
update/data/stockPyGSheet.json
update/data/setIndexPerformanceHist.csv
update/data/quote.json
update/data/preset.json
update/data/hist/PDJ.csv
update/data/hist/PDI.csv
update/data/hist/PCSGH.csv
update/data/hist/PB.csv
update/data/hist/PATO.csv
update/data/hist/PAP.csv
update/data/hist/PAF.csv
update/data/hist/OTO.csv
update/data/hist/OSP.csv
update/data/hist/ORI.csv
update/data/hist/OISHI.csv
update/data/hist/OHTL.csv
update/data/hist/OGC.csv
update/data/hist/OCEAN.csv
update/data/hist/OCC.csv
update/data/hist/NYT.csv
update/data/hist/NWR.csv
update/data/hist/NVD.csv
update/data/hist/NUSA.csv
update/data/hist/NTV.csv
update/data/hist/NSI.csv
update/data/hist/NPK.csv
update/data/hist/NOK.csv
update/data/hist/NOBLE.csv
update/data/hist/NNCL.csv
update/data/hist/NKI.csv
update/data/hist/NINE.csv
update/data/hist/NFC.csv
update/data/hist/NEX.csv
update/data/hist/NEWS.csv
update/data/hist/NEW.csv
update/data/hist/NETBAY.csv
update/data/hist/NER.csv
update/data/hist/NEP.csv
update/data/hist/NDR.csv
update/data/hist/NCL.csv
update/data/hist/NCH.csv
update/data/hist/NC.csv
update/data/hist/NBC.csv
update/data/hist/MVP.csv
update/data/hist/MTI.csv
update/data/hist/MTC.csv
update/data/hist/MSC.csv
update/data/hist/MPIC.csv
update/data/hist/MPG.csv
update/data/hist/MORE.csv
update/data/hist/MOONG.csv
update/data/hist/MONO.csv
update/data/hist/MODERN.csv
update/data/hist/MNRF.csv
update/data/hist/MNIT2.csv
update/data/hist/MNIT.csv
update/data/hist/MM.csv
update/data/hist/ML.csv
update/data/hist/MK.csv
update/data/hist/MJLF.csv
update/data/hist/MJD.csv
update/data/hist/MITSIB.csv
update/data/hist/MIT.csv
update/data/hist/MIPF.csv
update/data/hist/MINT.csv
update/data/hist/MILL.csv
update/data/hist/MIDA.csv
update/data/hist/MGT.csv
update/data/hist/MFEC.csv
update/data/hist/MFC.csv
update/data/hist/METCO.csv
update/data/hist/META.csv
update/data/hist/MEGA.csv
update/data/hist/MDX.csv
update/data/hist/MCS.csv
update/data/hist/MCOT.csv
update/data/hist/MC.csv
update/data/hist/MBKET.csv
update/data/hist/MBK.csv
update/data/hist/MBAX.csv
update/data/hist/MAX.csv
update/data/hist/MATI.csv
update/data/hist/MATCH.csv
update/data/hist/MANRIN.csv
update/data/hist/MALEE.csv
update/data/hist/MAKRO.csv
update/data/hist/MAJOR.csv
update/data/hist/MACO.csv
update/data/hist/M.csv
update/data/hist/M-STOR.csv
update/data/hist/M-II.csv
update/data/hist/M-CHAI.csv
update/data/hist/LUXF.csv
update/data/hist/LST.csv
update/data/hist/LRH.csv
update/data/hist/LPN.csv
update/data/hist/LPH.csv
update/data/hist/LOXLEY.csv
update/data/hist/LIT.csv
update/data/hist/LHSC.csv
update/data/hist/LHPF.csv
update/data/hist/LHK.csv
update/data/hist/LHHOTEL.csv
update/data/hist/LHFG.csv
update/data/hist/LH.csv
update/data/hist/LEE.csv
update/data/hist/LDC.csv
update/data/hist/LANNA.csv
update/data/hist/LALIN.csv
update/data/hist/KYE.csv
update/data/hist/KWM.csv
update/data/hist/KWG.csv
update/data/hist/KWC.csv
update/data/hist/KUN.csv
update/data/hist/KUMWEL.csv
update/data/hist/KTIS.csv
update/data/hist/KTECH.csv
update/data/hist/KTC.csv
update/data/hist/KTB.csv
update/data/hist/KSL.csv
update/data/hist/KPNPF.csv
update/data/hist/KOOL.csv
update/data/hist/KKP.csv
update/data/hist/KKC.csv
update/data/hist/KIAT.csv
update/data/hist/KGI.csv
update/data/hist/KDH.csv
update/data/hist/KCM.csv
update/data/hist/KCE.csv
update/data/hist/KCAR.csv
update/data/hist/KBS.csv
update/data/hist/KBANK.csv
update/data/hist/KASET.csv
update/data/hist/KAMART.csv
update/data/hist/K.csv
update/data/hist/JWD.csv
update/data/hist/JUTHA.csv
update/data/hist/JUBILE.csv
update/data/hist/JTS.csv
update/data/hist/JSP.csv
update/data/hist/JMT.csv
update/data/hist/JMART.csv
update/data/hist/JKN.csv
update/data/hist/JCT.csv
update/data/hist/JCKH.csv
update/data/hist/JCK.csv
update/data/hist/JASIF.csv
update/data/hist/JAS.csv
update/data/hist/J.csv
update/data/hist/IVL.csv
update/data/hist/ITEL.csv
update/data/hist/ITD.csv
update/data/hist/IT.csv
update/data/hist/IRPC.csv
update/data/hist/IRCP.csv
update/data/hist/IRC.csv
update/data/hist/IP.csv
update/data/hist/INTUCH.csv
update/data/hist/INSURE.csv
update/data/hist/INSET.csv
update/data/hist/INOX.csv
update/data/hist/INGRS.csv
update/data/hist/INET.csv
update/data/hist/IMPACT.csv
update/data/hist/IMH.csv
update/data/hist/ILM.csv
update/data/hist/ILINK.csv
update/data/hist/III.csv
update/data/hist/IHL.csv
update/data/hist/IFS.csv
update/data/hist/ICN.csv
update/data/hist/ICHI.csv
update/data/hist/ICC.csv
update/data/hist/HYDRO.csv
update/data/hist/HUMAN.csv
update/data/hist/HTECH.csv
update/data/hist/HTC.csv
update/data/hist/HREIT.csv
update/data/hist/HPT.csv
update/data/hist/HPF.csv
update/data/hist/HMPRO.csv
update/data/hist/HFT.csv
update/data/hist/HARN.csv
update/data/hist/HANA.csv
update/data/hist/GYT.csv
update/data/hist/GVREIT.csv
update/data/hist/GUNKUL.csv
update/data/hist/GULF.csv
update/data/hist/GTB.csv
update/data/hist/GSC.csv
update/data/hist/GREEN.csv
update/data/hist/GRAND.csv
update/data/hist/GRAMMY.csv
update/data/hist/GPSC.csv
update/data/hist/GPI.csv
update/data/hist/GOLDPF.csv
update/data/hist/GLOCON.csv
update/data/hist/GLOBAL.csv
update/data/hist/GLAND.csv
update/data/hist/GL.csv
update/data/hist/GJS.csv
update/data/hist/GIFT.csv
update/data/hist/GGC.csv
update/data/hist/GFPT.csv
update/data/hist/GENCO.csv
update/data/hist/GEL.csv
update/data/hist/GCAP.csv
update/data/hist/GC.csv
update/data/hist/GBX.csv
update/data/hist/GAHREIT.csv
update/data/hist/FVC.csv
update/data/hist/FUTUREPF.csv
update/data/hist/FTREIT.csv
update/data/hist/FTE.csv
update/data/hist/FSS.csv
update/data/hist/FSMART.csv
update/data/hist/FPT.csv
update/data/hist/FPI.csv
update/data/hist/FORTH.csv
update/data/hist/FNS.csv
update/data/hist/FN.csv
update/data/hist/FMT.csv
update/data/hist/FLOYD.csv
update/data/hist/FE.csv
update/data/hist/FANCY.csv
update/data/hist/EVER.csv
update/data/hist/ETE.csv
update/data/hist/ESTAR.csv
update/data/hist/ESSO.csv
update/data/hist/ERWPF.csv
update/data/hist/ERW.csv
update/data/hist/EPG.csv
update/data/hist/EMC.csv
update/data/hist/EKH.csv
update/data/hist/EGCO.csv
update/data/hist/EGATIF.csv
update/data/hist/EFORL.csv
update/data/hist/EE.csv
update/data/hist/ECL.csv
update/data/hist/ECF.csv
update/data/hist/EASTW.csv
update/data/hist/EASON.csv
update/data/hist/EA.csv
update/data/hist/DTCI.csv
update/data/hist/DTC.csv
update/data/hist/DTAC.csv
update/data/hist/DRT.csv
update/data/hist/DREIT.csv
update/data/hist/DOHOME.csv
update/data/hist/DOD.csv
update/data/hist/DIMET.csv
update/data/hist/DIF.csv
update/data/hist/DEMCO.csv
update/data/hist/DELTA.csv
update/data/hist/DDD.csv
update/data/hist/DCON.csv
update/data/hist/DCC.csv
update/data/hist/D.csv
update/data/hist/CWT.csv
update/data/hist/CTW.csv
update/data/hist/CTARAF.csv
update/data/hist/CSS.csv
update/data/hist/CSR.csv
update/data/hist/CSP.csv
update/data/hist/CSC.csv
update/data/hist/CRD.csv
update/data/hist/CRANE.csv
update/data/hist/CPW.csv
update/data/hist/CPTGF.csv
update/data/hist/CPT.csv
update/data/hist/CPR.csv
update/data/hist/CPNREIT.csv
update/data/hist/CPNCG.csv
update/data/hist/CPN.csv
update/data/hist/CPL.csv
update/data/hist/CPI.csv
update/data/hist/CPH.csv
update/data/hist/CPF.csv
update/data/hist/CPALL.csv
update/data/hist/COTTO.csv
update/data/hist/COMAN.csv
update/data/hist/COLOR.csv
update/data/hist/COL.csv
update/data/hist/CNT.csv
update/data/hist/CMR.csv
update/data/hist/CMO.csv
update/data/hist/CMC.csv
update/data/hist/CMAN.csv
update/data/hist/CM.csv
update/data/hist/CKP.csv
update/data/hist/CK.csv
update/data/hist/CITY.csv
update/data/hist/CIMBT.csv
update/data/hist/CIG.csv
update/data/hist/CI.csv
update/data/hist/CHOW.csv
update/data/hist/CHOTI.csv
update/data/hist/CHO.csv
update/data/hist/CHG.csv
update/data/hist/CHEWA.csv
update/data/hist/CHAYO.csv
update/data/hist/CHARAN.csv
update/data/hist/CGH.csv
update/data/hist/CGD.csv
update/data/hist/CFRESH.csv
update/data/hist/CENTEL.csv
update/data/hist/CEN.csv
update/data/hist/CCP.csv
update/data/hist/CCET.csv
update/data/hist/CBG.csv
update/data/hist/CAZ.csv
update/data/hist/BWG.csv
update/data/hist/BUI.csv
update/data/hist/BTW.csv
update/data/hist/BTSGIF.csv
update/data/hist/BTS.csv
update/data/hist/BTNC.csv
update/data/hist/BSM.csv
update/data/hist/BSBM.csv
update/data/hist/BRRGIF.csv
update/data/hist/BRR.csv
update/data/hist/BROOK.csv
update/data/hist/BROCK.csv
update/data/hist/BR.csv
update/data/hist/BPP.csv
update/data/hist/BOL.csv
update/data/hist/BOFFICE.csv
update/data/hist/BM.csv
update/data/hist/BLAND.csv
update/data/hist/BLA.csv
update/data/hist/BKKCP.csv
update/data/hist/BKI.csv
update/data/hist/BKER.csv
update/data/hist/BKD.csv
update/data/hist/BJCHI.csv
update/data/hist/BJC.csv
update/data/hist/BIZ.csv
update/data/hist/BIG.csv
update/data/hist/BH.csv
update/data/hist/BGT.csv
update/data/hist/BGRIM.csv
update/data/hist/BGC.csv
update/data/hist/BFIT.csv
update/data/hist/BEM.csv
update/data/hist/BEC.csv
update/data/hist/BEAUTY.csv
update/data/hist/BDMS.csv
update/data/hist/BCT.csv
update/data/hist/BCPG.csv
update/data/hist/BCP.csv
update/data/hist/BCH.csv
update/data/hist/BC.csv
update/data/hist/BBL.csv
update/data/hist/BAY.csv
update/data/hist/BANPU.csv
update/data/hist/BAM.csv
update/data/hist/BAFS.csv
update/data/hist/BA.csv
update/data/hist/B52.csv
update/data/hist/B.csv
update/data/hist/B-WORK.csv
update/data/hist/AYUD.csv
update/data/hist/AWC.csv
update/data/hist/AUCT.csv
update/data/hist/AU.csv
update/data/hist/ATP30.csv
update/data/hist/ASP.csv
update/data/hist/ASN.csv
update/data/hist/ASK.csv
update/data/hist/ASIMAR.csv
update/data/hist/ASIAN.csv
update/data/hist/ASIA.csv
update/data/hist/ASEFA.csv
update/data/hist/ASAP.csv
update/data/hist/AS.csv
update/data/hist/ARROW.csv
update/data/hist/ARIP.csv
update/data/hist/ARIN.csv
update/data/hist/AQUA.csv
update/data/hist/AQ.csv
update/data/hist/APURE.csv
update/data/hist/APP.csv
update/data/hist/APEX.csv
update/data/hist/APCS.csv
update/data/hist/APCO.csv
update/data/hist/AP.csv
update/data/hist/AOT.csv
update/data/hist/ANAN.csv
update/data/hist/AMC.csv
update/data/hist/AMATAV.csv
update/data/hist/AMATAR.csv
update/data/hist/AMATA.csv
update/data/hist/AMARIN.csv
update/data/hist/AMANAH.csv
update/data/hist/AMA.csv
update/data/hist/ALUCON.csv
update/data/hist/ALT.csv
update/data/hist/ALLA.csv
update/data/hist/ALL.csv
update/data/hist/AKR.csv
update/data/hist/AKP.csv
update/data/hist/AJA.csv
update/data/hist/AJ.csv
update/data/hist/AIT.csv
update/data/hist/AIRA.csv
update/data/hist/AIMIRT.csv
update/data/hist/AIMCG.csv
update/data/hist/AIE.csv
update/data/hist/AI.csv
update/data/hist/AHC.csv
update/data/hist/AH.csv
update/data/hist/AGE.csv
update/data/hist/AFC.csv
update/data/hist/AF.csv
update/data/hist/AEONTS.csv
update/data/hist/AEC.csv
update/data/hist/ADVANC.csv
update/data/hist/ADB.csv
update/data/hist/ACG.csv
update/data/hist/ACE.csv
update/data/hist/ACC.csv
update/data/hist/ACAP.csv
update/data/hist/ABPIF.csv
update/data/hist/ABM.csv
update/data/hist/ABICO.csv
update/data/hist/AAV.csv
update/data/hist/A.csv
update/data/config.json
update/data/analysis_img/preset02_ORI.png
update/data/analysis_img/preset02_NOBLE.png
update/data/analysis_img/preset02_NER.png
update/data/analysis_img/preset02_MINT.png
update/data/analysis_img/preset02_MAJOR.png
update/data/analysis_img/preset02_KCE.png
update/data/analysis_img/preset02_JMT.png
update/data/analysis_img/preset02_JMART.png
update/data/analysis_img/preset02_IVL.png
update/data/analysis_img/preset02_III.png
update/data/analysis_img/preset02_HANA.png
update/data/analysis_img/preset02_DOHOME.png
update/data/analysis_img/preset02_CENTEL.png
update/data/analysis_img/preset02_BLAND.png
update/data/analysis_img/preset02_BLA.png
update/data/analysis_img/preset02_BFIT.png
update/data/analysis_img/preset02_BEC.png
update/data/analysis_img/preset02_BANPU.png
update/data/analysis_img/preset02_ASIAN.png
update/data/analysis_img/preset02_AP.png
update/data/analysis_img/preset01_ORI.png
update/data/analysis_img/preset01_NOBLE.png
update/data/analysis_img/preset01_MINT.png
update/data/analysis_img/preset01_MAJOR.png
update/data/analysis_img/preset01_KTC.png
update/data/analysis_img/preset01_KKP.png
update/data/analysis_img/preset01_KCE.png
update/data/analysis_img/preset01_KBANK.png
update/data/analysis_img/preset01_JMT.png
update/data/analysis_img/preset01_JMART.png
update/data/analysis_img/preset01_IVL.png
update/data/analysis_img/preset01_III.png
update/data/analysis_img/preset01_HANA.png
update/data/analysis_img/preset01_DOHOME.png
update/data/analysis_img/preset01_CENTEL.png
update/data/analysis_img/preset01_CBG.png
update/data/analysis_img/preset01_BLA.png
update/data/analysis_img/preset01_BFIT.png
update/data/analysis_img/preset01_BEC.png
update/data/analysis_img/preset01_BANPU.png
update/data/analysis_img/preset01_ASK.png
update/data/analysis_img/preset01_ASIAN.png
update/data/analysis_img/preset01_AP.png
update/data/analysis_img/preset01_AOT.png
update/data/analysis_img/preset01_AEONTS.png
update/__pycache__/update.cpython-37.pyc
update/__pycache__/gSheet.cpython-37.pyc
*.pyc
*.csv
update/data/load_stock_hist_log.txt
update/data/sandbox.json
update/data/analysis_img/S3_SAWAD.png
